@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


:root{
    --blue:#136FED;
    --gray:#EFEFEF;
    --gray-dark: #707070;
    --dark:#1D1A1A;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato', sans-serif;
    overflow-x:hidden;
}



li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}